<div style="
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    min-height:100vh;
    ">
    <h2>ARGUMENTOS DE ENTRADA: <p>{{info.args}}</p></h2>
    <h2>PLATAFORMA: <p>{{info.so}}</p></h2>
    <h2>VERSION NODE: <p>{{info.node}}</p></h2>
    <h2>MEMORIA TOTAL (RSS): <p>{{info.mem}}</p></h2>
    <h2>PATH DE EJECUCIÓN: <p>{{info.path}}</p></h2>
    <h2>PROCESS ID: <p>{{info.pid}}</p></h2>
    <h2>CARPETA DEL PROYECTO: <p>{{info.folder}}</p></h2>
</div>
