html(lang="es")
    head
        title='Productos'
    body
        h2='Productos'
        ul
          each p in productos
            li
                h3=p.title
                p=p.price
                img(src=p.thumbnail alt=p.title)
        a(href='/') Home